{% extends "base.html" %}
{% block page-styles %}
{% style "/css/create-session.css" %}
{% endblock %}
{% block content %}
<div class="content">
    {% include "templates/errors.html" %}
    <div class="columns is-vcentered">
        <div class="column is-half is-offset-one-quarter">
            <h1>Create a new "sliders" session</h1>
        </div>
    </div>

    <form id="session-form">
        {% csrf-field %}
        <div id="session-data">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <div class="control">
                        <label class="label">Session Name</label>
                        <input id="session-name" class="input" type="text"
                               placeholder="Enter the name of this sliders session">
                        <p class="help">Name your session something the describes what all of the sliders are trying to prioritize</p>
                    </div>
                </div>
            </div>
            <div class="columns item-columns">
                <div class="column">
                </div>
                <div class="column is-half item-column">
                    <div class="field">
                        <label class="label">Slider Name</label>
                        <div class="control">
                            <input class="session-slider-title input" type="text" placeholder="Enter slider name">
                        </div>
                        <p class="help">Name each slider with the item you wish to prioritize (e.g. budget, scope, handover, etc.)</p>
                        <p class="help">(Hint: Just hit ctrl (or cmd) + return to create another slider, or click the '+' button)</p>
                    </div>
                </div>
                <div class="column">
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
            </div>

            <div class="column is-half">
                <div class="field is-grouped" style="margin-top: 20px;">
                    <div class="columns">
                        <div class="column">
                            <div class="control">
                                <button class="button is-success is-rounded" id="submit" type="submit">Submit Session
                                </button>
                            </div>
                        </div>
                        <div class="column">
                            <div class="control">
                                <button class="button is-primary is-light" id="add-new-slider">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
            </div>
        </div>
    </form>
</div>
{% endblock %}


{% block page-styles %}
{% endblock %}

{% block page-scripts %}
{% script "/js/create-session-page.js" %}
{% endblock %}
