{% extends "base.html" %}
{% block content %}
<div class="content">
    <section class="section">
        <h2>{{ name }}</h2>
        {% for slider in sliders %}
        <div class="columns slider is-vcentered">
            <div class="column is-one-fifth">
                <label for="slider-{{ slider.name }}">{{ slider.name }}</label>
            </div>
            <div class="column">
                <input id="slider-{{ slider.name }}" class="slider has-output is-fullwidth is-large" min="0" max="100"
                       value="{{ slider.initial-pos }}" step="{{ slider.step }}" type="range">
                <output id="current-position" for="slider-{{ slider.name }}">{{ slider.initial-pos }}</output>
                <div class="suggested-position"></div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}

{% block page-scripts %}
{% script "/js/slider.js" %}
{% script "/js/sliders.js" %}
{% script "/js/sliders-page.js" %}
{% endblock %}
