{% extends "base.html" %}
{% block content %}
<div class="content">
    <section class="section">
        <h2>{{ name }}{% if version-name %} <span class="version-name">[{{version-name}}]</span>{% endif %}</h2>
        {% for slider in sliders %}
        <div class="columns slider-col is-vcentered">
            <div class="column is-one-fifth">
                <label for="slider-{{ slider.name }}">{{ slider.name }} average</label>
            </div>
            <div class="column">
                <input id="slider-{{ slider.name }}" class="slider has-output is-fullwidth is-large is-success" min="0" max="100"
                       value="{{ slider.initial-pos }}" step="{{ slider.step }}" type="range">
                <output class="current-position" for="slider-{{ slider.name }}">{{ slider.initial-pos }}</output>
                <div class="suggested-position"></div>
            </div>
        </div>
        {% for slider-version in slider.versions %}
        <div class="columns slider-col is-vcentered">
            <div class="column is-one-fifth">
                <label for="slider-{{ slider-version.name }}">{{ slider-version.name }}</label>
            </div>
            <div class="column">
<!--                todo make readonly-->
                <input id="slider-{{ slider-version.name }}" class="slider slider-version has-output is-fullwidth is-large" min="0" max="100"
                       value="{{ slider-version.initial-pos }}" step="1" type="range" disabled="disabled">
                <output class="current-position" for="slider-{{ slider-version.name }}">{{ slider-version.initial-pos }}</output>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        {% if not example-page %}
        <div class="columns">
            <div class="column has-text-centered is-3 is-offset-5">
                <div class="control">
                    <input id="version-name" class="input" type="text"
                           placeholder="Enter your name">
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered is-3 is-offset-5">
                <div class="control">
                    <button class="button is-success is-rounded" id="save-session" type="submit">Save Session Results
                    </button>
                </div>
            </div>
        </div>
        {% endif %}

    </section>
</div>
{% endblock %}

{% block page-scripts %}
{% script "/js/slider.js" %}
{% script "/js/sliders.js" %}
{% script "/js/sliders-page.js" %}
{% endblock %}
