{% extends "base.html" %}
{% block page-styles %}
{% style "/css/sliders.css" %}
{% endblock %}
{% block content %}
<div class="content">
    {% include "templates/errors.html" %}
    <section class="section">
        <h2>{{ name }}{% if version-name %} <span class="version-name">[{{version-name}}]</span>{% endif %}</h2>
        {% for slider in sliders %}
        {% include "templates/slider.html" %}
        {% for slider-version in slider.versions %}
        <div class="columns slider-col is-vcentered">
            <div class="column is-one-fifth">
                <label for="slider-{{ slider-version.name }}">{{ slider-version.name }}</label>
            </div>
            <div class="column">
<!--                todo make readonly-->
                <input id="slider-{{ slider-version.name }}" class="slider slider-version has-output is-fullwidth is-large" min="0" max="{{ max-slider-val }}"
                       value="{{ slider-version.initial-pos }}" step="{{ slider-version.step }}" type="range" disabled="disabled">
                <output class="current-position" for="slider-{{ slider-version.name }}">{{ slider-version.initial-pos }}</output>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        {% if not example-page %}
        <div class="columns">
            <div class="column has-text-centered is-3 is-offset-5">
                <div class="control">
                    <input id="version-name" class="input output-version" type="text"
                           placeholder="Enter title for output session">
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered is-3 is-offset-5">
                <div class="control">
                    <button class="button is-success is-rounded" id="save-output-session" type="submit">Save Session Results
                    </button>
                </div>
            </div>
        </div>
        {% endif %}

    </section>
</div>
{% endblock %}

{% block page-scripts %}
{% script "/js/helpers.js" %}
{% script "/js/slider.js" %}
{% script "/js/sliders.js" %}
{% script "/js/sliders-page.js" %}
{% endblock %}
