{% extends "base.html" %}
{% block page-styles %}
{% style "/css/sliders.css" %}
{% endblock %}
{% block content %}
<div class="content">
    {% include "templates/errors.html" %}
    <section class="section">
        <h2>{{ name }}{% if version-name %} <span class="version-name">[{{version-name}}]</span>{% endif %}</h2>
        {% for slider in sliders %}
        {% include "templates/slider.html" %}
        {% endfor %}
        {% if not example-page %}
        {% if not output-session %}
        <div class="columns">
            <div class="column"></div>
            <div class="column has-text-centered is-3">
                <div class="control">
                    <input id="version-name" class="input" type="text"
                           placeholder="Enter your name">
                </div>
            </div>
            <div class="column"></div>
        </div>
        {% endif %}
        <div class="columns">
            <div class="column"></div>
            {% if not output-session %}
            <div class="column has-text-centered is-3">
                <div class="control">
                    <button class="button is-primary is-rounded" id="save-session" type="submit" disabled="disabled">Save Session Results
                    </button>
                </div>
            </div>
            {% endif %}
            <div class="column has-text-centered is-3">
                <div class="control">
                    <button class="button is-link is-rounded" id="show-aggregate" type="submit">Show Aggregate of Current Sessions
                    </button>
                </div>
            </div>
            <div class="column"></div>
        </div>
        {% endif %}

    </section>
</div>
{% endblock %}

{% block page-scripts %}
{% script "/js/helpers.js" %}
{% script "/js/slider.js" %}
{% script "/js/sliders.js" %}
{% script "/js/sliders-page.js" %}
{% endblock %}
