<div class="columns slider-col is-vcentered">
    <div class="column is-one-fifth">
        <label for="slider-{{ slider.name }}">{{ slider.name }}</label>
    </div>
    <div class="column">
        <input id="slider-{{ slider.name }}" class="slider has-output is-fullwidth is-large{% if aggregate %} is-success{% endif%}" min="0" max="{{ max-slider-val }}"
               value="{{ slider.initial-pos }}" step="{{ slider.step }}" type="range">
        <output class="current-position" for="slider-{{ slider.name }}">{{ slider.initial-pos }}</output>
        <div class="suggested-position"></div>
    </div>
</div>
